<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!--App path -->
					<string>https://link.jscdn.cn/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3UvcyFBcUpVMkx1R1dISTlsRHJFcnc4VG5KSHZLN0Q5P2U9cVBmWVJI.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<!-- 1024*1024 icon -->
					<string>http://binghelper.820tmp.cf/files/6429af1faf74b/tiktok21.1.0-1024.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<!-- 180*180 icon -->
					<string>http://binghelper.820tmp.cf/files/6429af3a60e50/tiktok21.1.0-180.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zhiliaoapp.musically</string>
				<key>bundle-version</key>
				<string>211023</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>TikTok Setup Web</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
